
.body{

    margin:0;
    padding:0;
    }
.izquierda{
    background: #028351;
    height: 100vh;
    width:50%;
}
.derecha{
        background: #830802;
        height: 100vh;
        width:50%;
        height: 100vh;
}
#pantalla-dividida{
            display: flex;
}
